@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  user-select: none;
}

:root {
  --primary-colour: #f9f9f9;
  --secondary-colour: #222222;
  --default-fs: 1rem;
  --transition: all 0.3s ease-in-out;
}

body {
  background-color: var(--primary-colour);
  font-family: "Roboto";
  letter-spacing: 0.1rem;
}

a,
a:visited {
  color: #ffffff;
}

footer a {
  color: var(--secondary-colour);
}

/* Header and navigation */

h1 {
  color: var(--secondary-colour);
  font-size: calc(var(--default-fs) + 4rem);
  font-weight: 900;
  letter-spacing: 0.4rem;
  margin: 3rem 0;
}

.nav ul {
  max-width: 52rem;
  margin: 2.5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.nav ul li {
  font-size: 1.3rem;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  padding: 0.75rem;
  transition: var(--transition);
  cursor: pointer;
}

.nav ul li:hover {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  transition: var(--transition);
}

/* Collections */

.collection {
  background-color: #eeeeee;
  max-width: 62rem;
  height: 40rem;
  background-color: var(--secondary-colour);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  margin: auto;
  margin-block-end: 6rem;
}

.collection {
  display: none;
}

.collection.active {
  display: grid;
}

.collection div {
  background-color: var(--secondary-colour);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: animateImg 0.5s ease;
  display: flex;
  align-items: flex-end;
  transition: var(--transition);
}

@keyframes animateImg {

  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }

}

.collection div h4 {
  width: max-content;
  padding: 0.3rem 0.8rem;
  margin-block-end: 0.5rem;
  margin-inline-start: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  opacity: 0;
  transition: var(--transition);
}

.collection div:hover h4 {
  opacity: 1;
  transition: var(--transition);
}

.collection div:hover{
  transform: scale(1.02);
  transition: var(--transition);
}

/* Grid layout */

.grid-1 {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}

.grid-2 {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
}

.grid-3 {
  grid-column: 6 / 7;
  grid-row: 1 / 3;
}

.grid-4 {
  grid-column: 3 / 7;
  grid-row: 3 / 5;
}

.grid-5 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.grid-6 {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

/* Spring collection */

.spring-1 {
  background: url("./img/spring-1.jpeg");
}

.spring-2 {
  background: url("./img/spring-2.jpeg");
}

.spring-3 {
  background: url("./img/spring-3.jpeg");
}

.spring-4 {
  background: url("./img/spring-4.jpeg");
}

.spring-5 {
  background: url("./img/spring-5.jpeg");
}

.spring-6 {
  background: url("./img/spring-6.jpeg");
}

/* Summer collection */

.summer-1 {
  background: url("./img/summer-1.jpeg");
}

.summer-2 {
  background: url("./img/summer-2.jpeg");
}

.summer-3 {
  background: url("./img/summer-3.jpeg");
}

.summer-4 {
  background: url("./img/summer-4.jpeg");
}

.summer-5 {
  background: url("./img/summer-5.jpeg");
}

.summer-6 {
  background: url("./img/summer-6.jpeg");
}

/* Fall collection */

.fall-1 {
  background: url("./img/fall-1.jpeg");
}

.fall-2 {
  background: url("./img/fall-2.jpeg");
}

.fall-3 {
  background: url("./img/fall-3.jpeg");
}

.fall-4 {
  background: url("./img/fall-4.jpeg");
}

.fall-5 {
  background: url("./img/fall-5.jpeg");
}

.fall-6 {
  background: url("./img/fall-6.jpeg");
}

/* Winter collection */

.winter-1 {
  background: url("./img/winter-1.jpeg");
}

.winter-2 {
  background: url("./img/winter-2.jpeg");
}

.winter-3 {
  background: url("./img/winter-3.jpeg");
}

.winter-4 {
  background: url("./img/winter-4.jpeg");
}

.winter-5 {
  background: url("./img/winter-5.jpeg");
}

.winter-6 {
  background: url("./img/winter-6.jpeg");
}


